
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.header-bar {
  background: #444;
  color: #fafafa;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
}

.list-group {
  max-height: 250px;
  overflow: scroll;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}






.input-group {
  margin-top: 8px;
}


.input-group-btn .btn {
  padding-left: 20px;
  padding-right: 20px;
  color: #444;

}


.form-control:focus {
  outline: none;
}

.btn.focus, .btn:focus {
  color: #444;
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}

.results-panel{
  margin-top: 65px;
}


.navbar-brand {
  padding-left: 0px;
}
