/* main container panels */
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.header-bar {
  background: #444;
  color: #fafafa;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
}
.navbar-brand {
  padding-left: 0px;
}
.results-panel{
  margin-top: 65px;
}

/* carrier list items */
.list-group-item {
  border: none;
  padding-left: 0px;
}
button.list-group-item:focus {
  outline: none;
  background-color: #fff
}

.list-group-item h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* loading icons */
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.input-group {
  margin-top: 8px;
}
.input-group-btn .btn {
  padding-left: 20px;
  padding-right: 20px;
  color: #444;

}

.form-control:focus {
  outline: none;
}

.btn.focus, .btn:focus {
  color: #444;
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}

.ticks {
  list-style: none;
}
.ticks li:before {
  content: '\2713';
  color: green;
  padding-right: 2px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}
